@model ForumSystem.Web.ViewModels.Questions.QuestionDisplayViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="body-content">
    <div class="panel panel-success">
        <h1>@ViewBag.Title</h1>
        <div class="panel-body">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>