@model IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Hello, User!</h1>
        <p class="lead">Еach question has its own answer.</p>
    </div>
</div>
