@using ForumSystem.Logic
@using ForumSystem.Models
@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}

<h1><span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true">THE BEST ANSWERS</span></h1>
@{ var bestAnswers = GetterOfBestAnswers.GetBestAnswers(Model); }
@foreach (var answer in bestAnswers)
{
    <h3>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
            @answer.Post.Title
        </span>
    </h3>
    if (answer.Author != null)
    {
        <p>
            <i>by @answer.Author.FullName</i>
        </p>
    }
    <hr />
    @Html.Raw(ТextТransformer.CutText(answer.Content))
    <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new { id = answer.PostId }, null)</i>
    <hr/>
}