@using ForumSystem.Logic
@using ForumSystem.Models
@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}

<h1>THE BEST ANSWERS</h1>
<div class="body-content">
    @{ var bestAnswers = GetterOfBestAnswers.GetBestAnswers(Model); }
    @foreach (var answer in bestAnswers)
    {
        <h3>
            @answer.Post.Title
        </h3>
        if (answer.Author != null)
        {
            <p>
                <i>by @answer.Author.FullName</i>
            </p>
        }
        <hr/>
            @Html.Raw(ТextТransformer.CutText(answer.Content))
            <i>@Html.ActionLink("read more...", "ViewReadMore", "Questions", new {id = answer.PostId}, null)</i>
        <hr/>
    }
</div>