@model ForumSystem.Web.ViewModels.Answers.AnswerViewModel

<div class="media">
    @*<a class="pull-left" href="#">
            <img class="media-object" src="assets/img/sliders/elastislide/9.jpg" alt="">
        </a>*@
    <div class="media-body">
        <h4 class="media-heading">@Model.Author <span class="pull-right">@* / <a href="#">Reply</a>*@</span></h4>
        <p>@Model.Content</p>
    </div>
</div>

<hr />